.container {
  margin: 32px 0 0 150px;
}

.calendar {
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid #808080;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #fff;
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  margin-right: 8px;
}

.calendar:disabled {
  cursor: default !important;
}

.calendar-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  border: none;
  background: #4e75ff;
  color: #fff;
}

.calendar-btn:disabled {
  background: #cfcfcf;
  color: #989898;
  cursor: auto;
}

.calendar-btn:not([disabled]):hover {
  background: #6c8cff;
}

.timer {
  display: flex;
  gap: 24px;
  margin-top: 34px;
}

.field {
  display: flex;
  flex-direction: column;
  text-align: center;
  letter-spacing: 0.04em;
}

.field > span:first-child {
  font-size: 40px;
  line-height: 1.2;
}
.field > span:nth-child(2) {
  line-height: 1.5;
  text-transform: uppercase;
}
